.cilent___detailsImg {
  width: 100px;
  height: 100px;
}
.appeal__div {
  border-right: 0.5px solid rgb(128, 128, 128, 0.3);
}
.details__warraper{
    border: 1px solid rgb(128, 128, 128,.2);
    border-radius: 10px;
}
.detailstablecaption {
  text-align: left;
  font-size: 20px;
  color: black;
  font-weight: 700;
  padding: 10px;
}
